* {
    box-sizing: border-box;
}
body {
    margin: 0;
   
}
.screen {
    display: flex;
    height: 100vh;
}
.leftSide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.leftSide img {
    max-width: 500px;
    height: auto;
}

.rightSide {
width: 400px;
background-color: rgb(219, 215, 248);
padding: 50px;

}

.rightSide label {
    display: block;
    margin-bottom: 10px;
    margin-top: 25px;
}
.rightSide input {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    outline: 0;
}
.rodape {
    margin-top: 18px;
    font-size: 20px solid;
    
    
}